/* Utilities */
:root {
  --primary-color: linear-gradient(
    to left top,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  --secondary-color: #1c3fa8;
  --dark-color:#002240;
  --light-color:#f4f4f3f4
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }
  
  .card {
    background-color: #000;
    color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.99);
    padding: 20px;
    margin: 10px;
  
  }
  
  .flex {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
  .btn{
      display: inline-block;
      padding: 10px 30px;
      cursor: pointer;
      background-color: var();
      color: #fff;
      border: none;
      border-radius: 5px;
  }
  
  .btn-outline{
      background-color: transparent;
      border: 1px solid #fff;
  }
  .btn:hover{
      transform: scale(.91);
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
  
  .grid-3 {
      grid-template-columns: repeat(3, 1fr);
  }

  /* Background & colors button*/

  .bg-primary {
    background-image: var(--primary-color);
    color: #fff;
  }
  .btn-primary {
    background-color: #004d7a;
    color: #fff;
  }
  
  .bg-secondary, .btn-secondary{
    background-color: var(--secondary-color);
    color: #fff;
  }
  .bg-dark, .btn-dark{
    background-color: var(--dark-color);
    color: #fff;
  }
  .bg-light, .btn-light{
    background-color: var(--light-color);
    color: #333;
  }

  .bg-light a, .btn-light a,
  .bg-dark a, .btn-dark a,
  .bg-secondary a, .btn-secondary a,
  .btn-primary a, .bg-primary a {
    color: #fff;
  }

/* Text Sizes */
.lead{
  font-size: 20px;
}

.sm{
  font-size: 1rem;
}

.md{
  font-size: 2rem;
}

.lg{
  font-size: 3rem;
}

.xl{
  font-size: 4rem;
}

  .text-center {
    text-align: center;
  }


/* Margin */
  .my-1{
    margin: 1rem 0;
  }

  .my-2{
    margin: 1.5rem 0;
  }

  .my-3{
    margin: 2rem 0;
  }

  .my-4{
    margin: 3rem 0;
  }

  .my-5{
    margin: 4rem 0;
  }
  
  
  .m-1{
    margin: 1rem ;
  }

  .m-2{
    margin: 1.5rem ;
  }

  .m-3{
    margin: 2rem ;
  }

  .m-4{
    margin: 3rem ;
  }

  .m-5{
    margin: 4rem ;
  }

/* Padding */
  .py-1{
    padding: 1rem 0;
  }

  .py-2{
    padding: 1.5rem 0;
  }

  .py-3{
    padding: 2rem 0;
  }

  .py-4{
    padding: 3rem 0;
  }

  .py-5{
    padding: 4rem 0;
  }
  
  
  .p1{
    padding: 1rem ;
  }

  .p2{
    padding: 1.5rem ;
  }

  .p3{
    padding: 2rem ;
  }

  .p4{
    padding: 3rem ;
  }

  .p5{
    padding: 4rem ;
  }